<section class="contact-form">
    <h2 class="contact-form__title">
        Diligencia los campos y contáctanos
    </h2>

    <form class="contact-form__form">
        <div class="contact-form__row">
            <label for="" class="contact-form__label">
                nombre
             <input type="text" class="contact-form__input" placeholder="ingrese su nombre" required>
            </label>

            <label for="" class="contact-form__label">
                telefono
                <input type="tel" class="contact-form__input" placeholder="ingrese su numero de telefono" required>
            </label>

        </div>
            <label for="" class="contact-form__label">
                correo
                <input type="email" class="contact-form__input" placeholder="ingrese su correo electronico" required>
             </label>

            <label for="" class="contact-form__label">
                mensage
                <textarea name="" id="" class="contact-form__text-area" placeholder="ingrese su mensaje aqui..." required></textarea>
            </label>

            <div class="contact-form__actions">
                <button type="submit"  class="contact-form__button">Cancelar</button>
                <button type="button"  class="contact-form__button contact-form__button--green">Enviar</button>
            </div>
      
    </form>
</section>